.App {
    text-align: Left;
    padding: 1.5em;
    background-image: image("/css/icons/Background_Image.jpg");
    display:flex;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.NavBar {
    position: sticky;

}
.Content{
    padding-left: 0.5em;
}

.App-link {
    color: #61dafb;
}

NavBar{
    width: 5em;
}

:root {
    --primaryColor: #1657ea;
    --mainWhite: #fff;
    --offWhite: #dcdcdc;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 2px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
